input.signup-input {
	border-bottom: 1px solid #ADB1B3;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	padding: 1rem 1.5rem;
	background-color: #EDF2F7;
}

input:hover.signup-input {
	border-bottom: 1px solid #ADB1B3;
}

input.signup-input::-moz-placeholder {
	color: #263238;
}

input.signup-input:-ms-input-placeholder {
	color: #263238;
}

input.signup-input::-webkit-input-placeholder {
	color: #263238;
}
.signup-input, .signup-input input {
	border-bottom: 1px solid #ADB1B3;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	padding: 1rem 1.5rem;
	background-color: #EDF2F7;
}
